{%  block _receipt_tickets_entry_widget %}
    <div class="widget">
        <div class="col-sm-3">
            <div class="form-group">
                {{ form_row(form.ticket) }}
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                {{ form_row(form.amount) }}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                {{ form_row(form.artist) }}
            </div>
        </div>
    </div>
{%  endblock _receipt_tickets_entry_widget %}
