{% extends "base.html.twig" %}
{% block body %}
    <div class="row">
        <div class="col-sm-12 text-center"><h2>{{ label_warning('Sorry, but that page cannot be found.') }}</h2></div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            <a class="btn-sm btn-info" href="{{ path("homepage") }}">Home</a>
        </div>
    </div>
{% endblock %}