{% extends "base.html.twig" %}
{% block body %}
    <div class="row">
        <div class="col-sm-12 text-center"><h2>{{ label_warning('An error has occurred. Support has been notified') }}</h2></div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            <p>Please email <a href="mailto:support@uufnn.org?Subject=Artisan error message">support</a> with details of what
            you were doing immediately preceeding this error. Thanks.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            <a class="btn-sm btn-info" href="{{ path("homepage") }}">Home</a>
        </div>
    </div>

{% endblock %}