{% extends "base.html.twig" %}
{% block body %}
    <div class="row">
        <div class="col-xs-12 text-center text-info"><h3>Summary for {{ show.show }}</h3></div>
    </div>
    {% include 'Show/showSummary_content.html.twig' %}
{% endblock body %}
