{% extends "base.html.twig" %}
{% block body %}
    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading"><h4>Edit receipt {{ ticket.receipt.id }}</h4></div>
                <div class="panel-body">
                    <form action="{{ path("ticket_delete", {'id': ticket.id }) }}" method="post">
                    {%  include 'Ticket/ticketRows.html.twig' %}
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="col-sm-2"><input class="btn-sm btn-info" type="submit" name="submit" value="Confirm delete"></div>
                        </div>
                        <div class="col-sm-3">
                            <div class="col-sm-2"><input class="btn-sm btn-info" type="reset" name="reset" value="Cancel" onclick="history.go(-1);return false;"></div>
                        </div>{{ form_rest(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
{%  block javascripts %}
    {{ parent() }}
    <script src="/js/bootstrap-datepicker.js"></script>
    <script src="/js/ticketEdit.js"></script>
{%  endblock javascripts %}
