{% extends "base.html.twig" %}
{% block body %}
    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading"><h4>Edit receipt </h4></div>
                <div class="panel-body">
                    {%  include 'Ticket/ticketRows.html.twig' %}
                    <div class="row">
                        <div class="col-sm-3">
                            <a class="btn-sm btn-info" href="{{ path('ticket_edit', { 'id': ticket.id }) }}">Save</a>
                        </div>
                        <div class="col-sm-3">
                            <a class="btn-sm btn-warning" href="{{ path('ticket_delete', { 'id': ticket.id }) }}">Delete</a>
                        </div>{{ form_rest(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
{%  block javascripts %}
    {{ parent() }}
    <script src="/js/bootstrap-datepicker.js"></script>
    <script src="/js/ticketEdit.js"></script>
{%  endblock javascripts %}
