{% extends "base.html.twig" %}
{% block body %}
    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading"><h4>Ticket Search</h4></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6">{{ form(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
