<div class="col-sm-2 text-right">
    {{ ticket.ticket }}
</div>
<div class="col-sm-2 text-right" id="amount{{ticket.id}}">
    {{ ticket.amount }}
</div>
<div class="col-sm-4">
    {{ ticket.artist.lastName~', '~ticket.artist.firstName }}
</div>
