<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-1 text-right">
        <u>Ticket</u>
    </div>
    <div class="col-xs-1 text-right">
        <u>Receipt</u>
    </div>
    <div class="col-xs-2 text-right">
        <u>Amount</u>
    </div>
    <div class="col-xs-2 text-right">
        <u>Tax</u>
    </div>
    <div class="col-xs-2 text-right">
        <u>Total</u>
    </div>
</div>
