<div class="container" style="width: 70%">
    <div class="row bordered">
        <div class="col-xs-2 text-right">
            Ticket
        </div>
        <div class="col-xs-2 text-right">
            Receipt
        </div>
        <div class="col-xs-3 text-right">
            Amount
        </div>
        <div class="col-xs-2 text-right">
            Tax
        </div>
        <div class="col-xs-3 text-right">
            Total
        </div>
    </div>
</div>
