{% extends "base.html.twig" %}
{% block body %}
    <div class="panel panel-primary">
        <div class="panel-heading"><h4>Add existing artist(s) for this show</h4></div>
        <div class="panel-body">
            {{ form(form) }}
        </div></div>
    {% endblock body %}