{% extends "base.html.twig" %}
{% block title %}
    <div class="text-center text-info"><h3>{{ artist.firstName~' '~artist.lastName }}: Tickets</h3></div>
{% endblock title %}
{% block pageHeader %}
    {% include 'Artist/artistTicketsHeader.html.twig' %}
{% endblock pageHeader %}
{% block body %}
    {% include 'Artist/artistTicketsContent.html.twig' %}
{% endblock %}