{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <p>Labels in <span style="color: red;">red</span> indicate required field</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <p>To set up a new show:</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <p>1. <b>Show menu</b>: create a new show or edit an existing show, setting show as active.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <p>2. <b>Artist menu</b>: Add existing and/or new artists to active show.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <p>3. <b>Ticket menu</b>: Add ticket block(s) to show's artists.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <p>4. <b>Receipt menu</b>: Add receipts with tickets and tax free amount as required.</p>
        </div>
    </div>
{% endblock %}

