{% extends "base.html.twig" %}
{% block body %}
    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading"><h4>{{ action }} block for {{ artist.firstName~' '~artist.lastName }}</h4></div>
                <div class="panel-body">
                    {#{{ form_start(form) }}#}
                    {#{%  include 'Block/blockRows.html.twig' %}#}
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6">{{ form(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
