{% extends "base.html.twig" %}
{% block body %}
    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading"><h4>Edit block for {{ block.artist.firstName~' '~block.artist.lastName }}</h4></div>
                <div class="panel-body">
                    {{ form(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
{%  block javascripts %}
    {{ parent() }}
    <script src="/js/ticketEdit.js"></script>
{%  endblock javascripts %}
