<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="{{ absolute_url(asset('css/bootstrap.css')) }}" rel="stylesheet" media="all">
    </head>
    <body>
        <div class="container">
            <div class="col-sm-2 text-center"><img src="{{ absolute_url(asset('/images/logo.jpg')) }}" alt="UUFNN logo" media="print"></div>
            <div class="col-sm-8 text-center"><h2>{{  reportTitle }}</h2></div>
        </div>
    </body>
</html>