<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="{{ absolute_url(asset('css/bootstrap.css')) }}" rel="stylesheet">
            <link href="{{ absolute_url(asset('css/pdf.css')) }}" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="row">
            <div class="col-xs-2"><img src="{{ absolute_url(asset('/images/logo.jpg')) }}" alt="UUFNN logo"></div>
            {% block title %}
            {% endblock %}
            </div>
            {% block pageHeader %}
            {% endblock pageHeader %}
        </div>
    </body>
</html>